.scroll-pane
{
    -fx-background-color: #181818;
}


.jfx-masonry-pane
{
    -fx-background-color: #181818;
}

.jfx-hamburger-icon{
    -fx-cursor: hand;
    -fx-background-color: #181818;
}
.jfx-hamburger-icon StackPane{
    -fx-background-color : white;
}

.jfx-text-area ScrollPane{
    -fx-background-color : white;
}