<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:mysql://eu-cdbr-azure-west-b.cloudapp.net:3306/card_market
        </property>

        <property name="hibernate.connection.username">
            b1846fe151e4be
        </property>

        <property name="hibernate.connection.password">
            89e8ce47
        </property>

        <!-- List of XML mapping files -->
        <mapping resource="mappings/rarity.hbm.xml"/>
        <mapping resource="mappings/language.hbm.xml"/>
        <mapping resource="mappings/cardset.hbm.xml"/>
        <mapping resource="mappings/subtype.hbm.xml"/>
        <mapping resource="mappings/type.hbm.xml"/>
        <mapping resource="mappings/card.hbm.xml"/>
        <mapping resource="mappings/condition.hbm.xml"/>
        <mapping resource="mappings/cart.hbm.xml"/>
        <mapping resource="mappings/country.hbm.xml"/>
        <mapping resource="mappings/credibility.hbm.xml"/>
        <mapping resource="mappings/order.hbm.xml"/>
        <mapping resource="mappings/paymentmethod.hbm.xml"/>
        <mapping resource="mappings/shippingaddress.hbm.xml"/>
        <mapping resource="mappings/shippingaddresstemplate.hbm.xml"/>
        <mapping resource="mappings/user.hbm.xml"/>
        <mapping resource="mappings/soldcard.hbm.xml"/>

    </session-factory>
</hibernate-configuration>